.save-form > div {
  float: left;
  margin: 0px;
  margin-right: 10px;
}

.save-form select {
  height: 25px;
}

.save_search_frm td {
  border: 1px solid;
}

#loading_div {
  height: 300px;
  margin-top: 200px;
  text-align: center;
}

.twocolumnwithright div {
  margin-left: 16px;
}
