.publish_this_content {
  clear: both;
  margin-bottom: 40px;
}

.publish_this_image {
  float: left;
  margin-right: 10px;
  width: 120px;
  height: 90px;
}

.publish_this_contents {
  width: 610px;
  margin-top: 10px;
}

.content_title {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}
